# <%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>
ForwardAgent yes
StrictHostKeyChecking no
ServerAliveInterval 10
ConnectTimeout 30
#ControlMaster auto
#ControlPath /tmp/%l-%h-%r
HashKnownHosts no
CheckHostIP no

CanonicalDomains <%= Array(scope().call_function('hiera',['ssh_canonical_domains',['zxz.li']]) ).join(" ") %>
CanonicalizeFallbackLocal yes
CanonicalizeHostname yes
CanonicalizeMaxDots <%= scope().call_function('hiera',['ssh_canonical_max_dots','0']) %>
#Host *
#     CanonicalizeHostname yes
#     CanonicalizeFallbackLocal no
#     CanonicalDomains <%= Array(scope().call_function('hiera',['ssh_canonical_domains',['zxz.li']]) ).join(" ") %>


Host devrandom.pl
    VisualHostKey yes
    User root

Host *.zxz.li
    VisualHostKey yes
    User root

Host github.com
     User git

<% if @multiplex_ssh %>
ControlPath <%= @homedir %>/.ssh/mux/%r@%h:%p
ControlMaster auto
ControlPersist yes

Host github.com
    ControlMaster no
    ControlPersist no

Host devrandom.pl
    ControlMaster no
    ControlPersist no
<% end %>

ForwardX11 yes
<%= scope.function_template(['custom/ssh_config']) %>


## GCP and other public IP crap
Host 3?.*
    UserKnownHostsFile /dev/null
     LogLevel QUIET

Match canonical Host *
    User root

<% %>
