*/system/*
*/scratches/*
**/dimensions.xml
**/feature.usage.statistics.xml
**/recentProjects.xml
**/statistics.*.xml
**/options/scratches.xml
**/options/usageView.xml
**/plugins/availables.xml
**/plugins/availables.xml.etag
**/plugins/*.jar
**/plugins/*.jar
**/plugins/*/
**/scratches/
**/config/tasks/
**/config/port
**/config/port.lock
**/config/options/window.manager.xml
**/eval/
