# <%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?repos/,@fqdn + ':') %>
[Desktop Entry]
Version=1.0
Name=<%= @title %>
GenericName=<%= @description %>
Comment=<%= @comment %>
Exec=<%= @command %>
Icon=<%= @icon %>
Terminal=<% if @terminal %>true<% else %>false<% end %>
Type=Application
Categories=Utility;Application;
Hidden=false
