#!/usr/bin/perl
# Puppet: <%=  __FILE__.gsub(/.*?puppet\//,fqdn + ':') %>
use common::sense;
my ($title, $body) = @ARGV;
$icon ||= '/usr/share/icons/oxygen/128x128/categories/preferences-system-network.png';
$body =~ s/\&/\&amp\;/g;
$body =~ s/</\&lt\;/g;
$body =~ s/>/\&gt\;/g;
$body =~ s{http(|s)://(.+)(\s|$)}{<a href="http\1://\2">\2</a>\3}g;
print "$title $body \n";
system('notify-send',"--icon=$icon",$title,$body);
