[user]
	name = Mariusz Gronczewski
	email = xani666@gmail.com
[color]
	ui = auto
[color "diff"]
        whitespace = red reverse
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less
	editor = emacs
[push]
	default = current
[svn]
	authorsfile = /home/xani/src/users_svn.txt
[branch]
	autosetupmerge = true
[alias]
	publish = !/usr/local/bin/git-publish-branch 
	wtf = !/usr/local/bin/git-wtf
	l = log -30  --abbrev-commit --relative-date --format='%Cred%h%Cgreen %aN%Cblue %ar %Creset %s'
	rss = !~/bin/getrss_spit
	co = checkout
	cx = commit
	c = commit
	p = !git pull && git push
	cm = commit --author \"Mariusz Gronczewski <xani666@gmail.com>\"
[merge]
	tool = meld
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	file-view-vpane-position = 656
	file-view-hpane-position = 474
	history-view-vpane-position = 830
	main-window-view = FileView
